/* page sections */
*{
  box-sizing: border-box ;
}

/* aside */
.menu {
  width: 25%;
  float: left;
  padding: 15px;
  border: 1px 
}

/* content */
.main {
  width: 75%;
  float: left;
  padding: 15px;
  border: 1px 
}

/* header */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  /* navigation */
  .header a {
    float: left;
    color: #deba54;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* name */
  .header a.name {
    font-size: 50px;
    font-weight: bold;
  }
  
  /* hover effects */
  .header a:hover, .header a.active {
    background-color: #deba54;
    color: #f1f1f1;
  }
 
  .header-right {
    float: right;
  }

  /* media screen */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
} 

/* hero image */
.hero {
    height: 500px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url("/Users/georgiahunt/Coding-Bootcamp/GitHub/Assignments/Georgia-Hunt-Portfolio/assets/Images/Woman-typing-on-mac.png");
    background-size: cover;
    background-position: center;
}

/* previous work layout */
.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; 
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}