/* page sections */
*{
  box-sizing: border-box ;
}

/* header */
.header, .contact {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  background-position: center;
}

/* header navigation */
.header a, .contact a {
  float: left;
  color: #deba54;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
}

/* header */
.header a.name, .contact a.contact {
  font-size: 50px;
  font-weight: bold;
}

/* hover effects */
.header a:hover, .header a.active, .contact a:hover, .contact a.active {
  background-color: #deba54;
  color: #f1f1f1;
}

.header-right, .contact-right {
  float: right;
}

/* media screen */
@media screen and (max-width: 800px) {
  .header a, .contact a  {
    float: none;
    display: flex;
    text-align: left;
  }
  .header-right, .contact-right {
    float: none;
  }
} 

/* hero image */
.hero {
    height: 500px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url("/Users/georgiahunt/Coding-Bootcamp/GitHub/Assignments/Georgia-Hunt-Portfolio/assets/Images/Woman-typing-on-mac.png");
    background-size: cover;
    background-position: center;
}

/* about me aside */
.about-me-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
  width: 25%;
  float: left;
  padding: 15px;
  border: 1px 
}

.headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* about me content */
.about-me-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
  width: 75%;
  float: left;
  padding: 15px;
  border: 1px 
}

/* previous work aside */
.work-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
  width: 25%;
  float: right;
  padding: 15px;
  border: 1px 
}

/* previous work content */
.work-main { 
  width: 75%;
  float: left;
  padding: 15px;
  border: 1px 
}


/* heading text */
h1, h3, h5 {
  display: block;
  float: left;
  color: #deba54;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  line-height: 50px;
  border-radius: 4px;
  font-size: 50px;
  font-weight: bold;
}

/* aside text */
h2, h4, h5 {
  display: block;
  color: #deba54;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  line-height:15px;
  border-radius: 2px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

/* previous work layout */
.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
  row-gap: 15px;
}

.column {
  -ms-flex: 50%; 
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  column-gap: 15px;
}

.column img {
  margin-top: 8px;
  vertical-align: left;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

